body {
  margin: 0;
  padding: 0;
}

div.display {
  width: 100px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.2em;
  font-family: sans-serif;
  background-color: #eeeeee;
  text-align: center;
  position: fixed;
}

div#widthDisplay {
  right: 0px;
  top: 50%;
}

div#heightDisplay {
  left: 50%;
  bottom: 0px;
}

