/**
 * problem3.css
 *
 * Use this file to create CSS rules that will make problem3.html look correct.
 * Do not alter or modify the body rule.
 */
 
body {
  margin: 0;
  padding: 0;
  height: 2000px;
}

/**
 * Place your CSS rules below here
 */

